.first {
  display: none;
}


body {
  background-color: lightblue;
}

h1 {
  font-family:helvetica;
}

.contact{
  text-align: center;
  font-family: helvetica;
}
.footer{
  text-align: right;
  margin-bottom: 80px;
}

hr {
  height:5px;
  width:850px;
  border-width:0;
  background-color:black;
}
.info {
    margin: 10px, auto;
    width: 850px;
    margin-left: auto;
    margin-right: auto;
} 

.info {
    padding: 10px;
    background-color: white;
    border: 2px solid #000;
    border-radius: 15px;
    margin-bottom: 20px;
  font-family: helvetica;
  
}


.slideshow {
  max-width: 600px;
  position: relative;
  margin: auto;
      border: 2px solid #000;

    margin-bottom: 20px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-size: 20px;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: white;
  font-size: 15px;
  padding: 12px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  text-shadow: black 0px 0px 3px;
}

.number {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

